.about-us-section{
   width: 1200px;
   margin: auto;
}
.about-us-banner{
   height: 526px;
}
.about-us-image img{
   height: 526px;
   width: 100%;
   object-fit: cover;
   position: relative;
}
.about-us-ch{
   writing-mode: vertical-lr;
   font-size: 28px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.3em;
   color: white;
   position: absolute;
   left: 47%;
   bottom: 33%;
}
.title-line{
   border-left: 1.5px solid #fff;
   height:30%;
   position: absolute;
   left: 50%;
   bottom: 31%;
}
.about-us-en{
   writing-mode: vertical-lr;
   font-size: 28px;
   font-family: 'Old Standard TT', serif;
   letter-spacing: 0.1em;
   color: white;
   position: absolute;
   right: 47%;
   bottom: 31%;
}
.store-story-section{
   height: 600px;
   background: linear-gradient(to left, #AEA76D, #D9D9D9);
   position: relative;
}
.store-story-line{
   writing-mode: vertical-lr;
   font-size: 24px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.3em;
   color: #333333;
   position: absolute;
   left: 10%;
   bottom: 33%;
}
.store-story-txt{
   writing-mode: vertical-lr;
   font-size: 24px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.3em;
   color: #333333;
   position: absolute;
   left: 15%;
   bottom: 26%;
}
.store-story{
   width: 350px;
   height: 200px;
   background-color: #D9D9D9;
   position: absolute;
   left: 20%;
   bottom: 23%;
}
.store-story p{
   line-height: 25px;
   font-size: 14px;
   padding: 20px 20px;
   font-family: 'Noto Sans TC', sans-serif;
}
.about-us-story-image img{
   width: 600px;
   height: 400px;
   object-fit: cover;
   position: absolute;
   right: 1%;
   bottom: 26%;
}
.founder-story{
   height: 700px;
   background-color: rgb(255, 255, 255);
   position: relative;
}
.founder-story-image img{
   width: 890px;
   height: 575px;
   object-fit: cover;
}
.founder-story-txt{
   width: 400px;
   height: 200px;
   background-color: #D9D9D9;
   border: #333333 solid 1px;
   position: absolute;
   right: 30%;
   bottom: 20%;
}
.founder-story-txt h3{
   font-family: 'Noto Serif TC', serif;
   font-size: 24px;
   letter-spacing: 0.1em;
   padding: 10px 0 0 5px;
   color: #576943;
}
.founder-story-txt p{
   font-family: 'Noto Sans TC', sans-serif;
   line-height: 25px;
   font-size: 14px;
   letter-spacing: 0.1em;
   padding: 15px;
   color: #333333;
}
h2 {
   font-family: 'Noto Serif TC', serif;
   color: #333333;
   font-size: 1.7em;
   letter-spacing: 0.1em;
   text-align: center;
}
.together-enjoy-slogan {
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
}
.experience-tea-slogan {
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
}