.index-banner{
   margin: auto;
}
.index-banner-image{
   width: 100%;
}
.index-banner-image img{
   width: 100%;
   height: 60vw;
   box-shadow: 2px 2px 4px rgb(120, 120, 120);
   margin-left: -8%;
}
.news{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}
.news-title{
   width: 100%;
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.news-title img{
   position: absolute;
   margin: auto;
}
.news-title h2{
   font-family: 'Noto Serif TC', serif;
   color: #333333;
   font-size: 1.7em;
   text-shadow: 0.1em 0.1em 0.1em #bebebe;
   letter-spacing: 0.1em;
   text-align: center;
}

.card-wrap{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content: center;
}
.card{
   width: 285px;
   flex-shrink: 0;
   margin: 0 10px 20px;
   box-shadow: 2px 2px 4px rgb(120, 120, 120);
}
.card-image{
   width: 285px;
   height: 285px;
}
.card .card-image img{
   width: 100%;
   /* object-fit: cover; */
}
.card .news-info h4{
   font-family: 'Noto Serif TC', serif;
   font-size: 16px;
   letter-spacing: 0.1em;
   color: #576943;
   padding: 20px 0 30px 17px;
}
.news-info {
   width: 100%;
   /* height: 20%; */
   background-color: #fff;
   position: relative;
}
.news-info p {
   width: 80%;
   min-height: 100px;
   line-height: 25px;
   font-size: 14px;
   padding: 0px 20px 30px 17px;
   font-family: 'Noto Sans TC', sans-serif;
}
.news-info span {
   line-height: 25px;
   font-size: 10px;
   letter-spacing: 0.1em;
   font-family: 'Lato', sans-serif;
   color: #404040;
   display: block;
   padding-right: 20px;
   text-align: right;
   opacity: 70%;
   display: block;
   position: absolute;
   right: 0.5%;
   bottom: 6%;
}
.btn-readmore {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.btn-readmore .read-more-txt{
   font-size: 16px;
   letter-spacing: 0.1em;
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   color: #333333;
   padding: 10px 22px 0 0;
   text-align: right;
   float: right;
}
.read-more-arrow img{
   padding-right: 4px;
}
.products{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
}
.products-title{
   width: 100%;
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.products-title img{
   position: absolute;
   margin: auto;
}
.products-title h2{
   font-family: 'Noto Serif TC', serif;
   color: #333333;
   font-size: 1.7em;
   text-shadow: 0.1em 0.1em 0.1em #bebebe;
   letter-spacing: 0.1em;
   text-align: center;
}
.top-products-slogan{
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
   margin-right: 100px;
}
.bottom-products-slogan{
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
   margin-left: 100px;
}

.product-section{
   width: 95%;
   margin: 4% auto;
   display: flex;
}
.product-section-txt{
   width: 55%;
   border: 1px solid #333333;
   position: relative;
}
.product-ranking{
   font-size: 35px;
   margin: -17px 0;
   letter-spacing: 0.05em;
   font-family: 'Cormorant Infant', serif;
   text-shadow: 0.1em 0.1em 0.16em #c4c4c4;
   color: #fff;
   opacity: .7;
}
.product-name{
   writing-mode: vertical-lr;
   margin: 25px 10px;
   font-family: 'Noto Serif TC', serif;
   font-size: 14px;
   letter-spacing: 0.3em;
   color: #576943;
   text-shadow: 0.1em 0.1em 0.1em #c4c4c4;
}
.name-line{
   border-left: 0.08em solid #7d7d7d;
   height:78%;
   position: absolute;
   left: 25%;
   bottom: 28%;
}
.product-dsc{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 30%;
   top: 9%;
}
.product-dsc p{
   width: 100%;
   height: 87%;
   writing-mode: vertical-lr;
   line-height: 16px;
   font-size: 10px;
   letter-spacing: 0.1em;
   text-align: justify;
   font-family: 'Noto Sans TC', sans-serif;
}
.product-section-image{
   width: 45%;
   padding-left: 10px;
}
.product-section-image img{
   width: 100%;
   height: 30vw;
   object-fit: cover;
   box-shadow: 2px 2px 4px rgb(120, 120, 120);
}
.events{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
}
.events-title{
   width: 100%;
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.events-title img{
   position: absolute;
   margin: auto;
}
.events-title h2{
   font-family: 'Noto Serif TC', serif;
   color: #333333;
   font-size: 1.7em;
   text-shadow: 0.1em 0.1em 0.1em #bebebe;
   letter-spacing: 0.1em;
   text-align: center;
}
.top-events-slogan{
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
   margin-right: 100px;
}
.bottom-events-slogan{
   font-size: 1.13em;
   line-height: 36px;
   letter-spacing: 0.05em;
   text-decoration: underline;
   color: #333333;
   font-family: 'Noto Serif TC', serif;
   text-align: center;
   margin: 0 0 20px 100px;
}
.events-section{
   width: 100%;
   margin-bottom: 10%;
}
.event-image{
   width: 80%;
   margin: auto;
}
.event-image img{
   width: 100%;
   vertical-align: bottom;
}
.event-name-block{
   width: 80%;
   height: 7vw;
   background-color: white;
   margin: 0 auto 2%;
   text-align: center;
   background-color: #ffffffc2;
   border: 1px solid #bebebe;
   display: flex;
   align-items: center;
   justify-content: center;
}
.event-name-block span{
   font-size: 14px;
   letter-spacing: 0.2em;
   color: #576943;
   font-family: 'Noto Serif TC', serif;
   text-shadow: 0.1em 0.1em 0.1em #c4c4c4;
}
.event-info-block{
   width: 80%;
   margin: auto;
   border: 1px solid #333333;
}
.event-info-block p{
   font-size: 12px;
   padding: 5%;
   line-height: 19px;
   letter-spacing: 0.08em;
   text-align: justify;
   color: #333333;
   font-family: 'Noto Sans TC', sans-serif;
}
.contact_us{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto 60px;
   position: relative;
}
.contact-title{
   width: 100%;
   margin: 60px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact-title img{
   position: absolute;
   margin: auto;
}
.contact-title h2{
   font-family: 'Noto Serif TC', serif;
   color: #333333;
   font-size: 1.7em;
   text-shadow: 0.1em 0.1em 0.1em #bebebe;
   letter-spacing: 0.1em;
   text-align: center;
}
.info-section{
   width: 90%;
   margin: auto;
   position: relative;
}
.info-section-image{
   position: relative;
}
.info-section-image img{
   width: 100%;
   vertical-align: bottom;
}
.contact-slogan,.contact-address,.contact-phone,.contact-email{
   font-family: 'Noto Serif TC', serif;
   color: #fff;
   letter-spacing: 0.1em;
   text-shadow: 0.1em 0.1em 0.2em #383838;
}
.contact-slogan{
   position: absolute;
   margin: 6% 0 0 5%;
   font-size: 16px;
   text-decoration: underline;
}
.contact-address{
   position: absolute;
   margin: 15% 0 0 5%;
   font-size: 12px;
}
.contact-phone{
   position: absolute;
   margin: 20% 0 0 5%;
   font-size: 12px;
}
.contact-email{
   position: absolute;
   margin: 25% 0 0 5%;
   font-size: 12px;
}
.contact-map{
   overflow: hidden;
   position: absolute;
   width: 45%;
   height: 25vw;
   margin: 34% 0 0 5%;
}
@media screen and (min-width: 414px) {
   .product-section-txt{
      width: 50%;
   }
   .product-section-image{
      width: 50%;
   }
   .event-flex-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .events-section {
      width: calc(50% - 20px);
      margin-bottom: 35px;
   }
   .event-image{
      width: 100%;
      margin: auto;
   }
   .event-name-block{
      width: 100%;
      margin: 0 auto 4%;
   }
   .event-info-block{
      width: 100%;
   }
   .contact-slogan{
      font-size: 18px;
   }
   .contact-address,.contact-phone,.contact-email{
      font-size: 14px;
   }
}
@media screen and (min-width: 768px) {
   .product-section-txt{
      width: 50%;
      border: 1px solid #333333;
      position: relative;
   }
   .product-ranking{
      font-size: 60px;
      margin: -30px 0;
      letter-spacing: 0.05em;
      font-family: 'Cormorant Infant', serif;
      text-shadow: 0.1em 0.1em 0.16em #c4c4c4;
      color: #fff;
      opacity: .7;
   }
   .product-name{
      writing-mode: vertical-lr;
      margin: 45px 13px;
      font-family: 'Noto Serif TC', serif;
      font-size: 25px;
      letter-spacing: 0.3em;
      color: #576943;
      text-shadow: 0.1em 0.1em 0.1em #c4c4c4;
   }
   .name-line{
      border-left: 0.08em solid #7d7d7d;
      height: 78%;
      position: absolute;
      left: 35%;
      bottom: 28%;
   }
   .product-dsc{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 45%;
      top: 9%;
   }
   .product-dsc p{
      width: 100%;
      height: 87%;
      writing-mode: vertical-lr;
      line-height: 27px;
      font-size: 16px;
      letter-spacing: 0.1em;
      text-align: justify;
      font-family: 'Noto Sans TC', sans-serif;
   }
   .product-section-image{
      width: 50%;
      padding-left: 10px;
   }
   .product-section-image img{
      width: 100%;
      object-fit: cover;
      box-shadow: 2px 2px 4px rgb(120, 120, 120);
   }
   .event-name-block{
      height: 3vw;
      background-color: white;
      margin: 0 auto 2%;
   }
   .event-name-block span{
      font-size: 16px;
   }
   .event-info-block p{
      line-height: 23px;
      letter-spacing: 0.1em;
      font-size: 14px;
      padding: 2%;
   }
   .contact-slogan{
      font-size: 20px;
   }
   .contact-address,.contact-phone,.contact-email{
      font-size: 16px;
   }
}
