.news-banner {
   width: 100%;
   height: 40vw;
   margin: auto;
   position: relative;
}

.news-image {
   width: 100%;
   height: 40vw;
   position: relative;
   overflow: hidden;
}

.news-image img {
   width: 100%;
   height: 40vw;
   object-fit: cover;
   vertical-align: bottom;
}

.title-flex {
   display: flex;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   text-align: center;
}

.news-ch {
   writing-mode: vertical-lr;
   font-size: 16px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.3em;
   text-shadow: 0.1em 0.1em 0.1em #969696;
   color: white;
   margin: auto;
}

hr {
   border:1px solid white;
   margin: 0 0.2em;
   text-shadow: 0.1em 0.1em 0.1em #969696;
}

.news-en {
   writing-mode: vertical-lr;
   font-size: 16px;
   font-family: 'Old Standard TT', serif;
   letter-spacing: 0.1em;
   text-shadow: 0.1em 0.1em 0.1em #969696;
   color: white;
}

.news-column {
   width: 100%;
   max-width: 1200px;
   margin: auto;
}

.news-section {
   width: 80%;
   margin: 3% auto;
   border: 1.2px solid #707070;
   display: flex;
}

.news-section-image{
   width: 40%;
   padding: 2%;
}

.news-section-image img{
   width: 100%;
   box-shadow: 2px 2px 4px rgb(120, 120, 120)
}

.news-section-txt{
   width: 60%;
   padding: 2%;
}

h4 {
   font-family: 'Noto Serif TC', serif;
   font-size: 16px;
   letter-spacing: 0.1em;
   text-shadow: 0.1em 0.1em 0.1em #bebebe;
   color: #576943;
   padding-bottom: 5%;
}

p {
   line-height: 20px;
   font-size: 12px;
   padding-bottom: 5%;
   letter-spacing: 0.08em;
   font-family: 'Noto Sans TC', sans-serif;
   color: #333333;
}

.news-section-txt span {
   display: block;
   text-align: right;
   font-size: 10px;
   letter-spacing: 0.1em;
   font-family: 'Lato', sans-serif;
   color: #404040;
   opacity: .7;
}

@media screen and (min-width: 768px) {
   .news-ch, .news-en{
      font-size: 26px;
   }
   .news-section-txt h4{
      font-size: 20px;
   }
   .news-section-txt p{
      line-height: 23px;
      letter-spacing: 0.1em;
      font-size: 14px;
   }
}