.title-upper-space{
   height: 85px;
}
.title-bottom-space{
   height: 60px;
}
.news-banner{
    width: 100%;
    height: 526px;
    position: relative;
}
.news-banner img{
    width: 100%;
    height: 526px;
    object-fit: cover;
}
.news-ch{
    writing-mode: vertical-lr;
    font-size: 28px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 0.3em;
    color: white;
    position: absolute;
    left: 47%;
    bottom: 33%;
 }
 .title-line{
    border-left: 1.5px solid #fff;
    height:30%;
    position: absolute;
    left: 50%;
    bottom: 31%;
 }
 .news-en{
    writing-mode: vertical-lr;
    font-size: 28px;
    font-family: 'Old Standard TT', serif;
    letter-spacing: 0.1em;
    color: white;
    position: absolute;
    right: 47%;
    bottom: 40%;
 }
 .news-column{
   width: 1200px;
 }
 .news-section{
   width: 800px;
   height: 160px;
   margin: 10px;
   border: 1.2px solid #707070;
   display: flex;
 }
 .news-section-image{
   width: 180px;
   height: 120px;
   padding: 10px;
 }
 .news-section-image img{
   width: 100%;
   object-fit: cover;
 }
 h4 {
   font-family: 'Noto Serif TC', serif;
   font-size: 16px;
   letter-spacing: 0.1em;
   color: #576943;
   padding: 10px 0 10px 10px;
}
p{
   line-height: 20px;
   font-size: 14px;
   padding: 0px 20px 30px 10px;
   font-family: 'Noto Sans TC', sans-serif;
}