@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Lato&family=Noto+Sans+TC&family=Noto+Serif+TC:wght@600&display=swap');

body{
   background-color: #E2E9DA;
}
header{
   width: 100%;
   background-color: #576943;
   height: 60px;
}
nav{
   display: flex;
   width: 100%;
   max-width: 1200px;
   margin: auto;
   justify-content: space-between;
}
.menu-logo{
   padding: 10px;
}
.menu-logo img{
   width: 100%;
}
.menu-bar{
   display: flex;
   align-items: center;
}
.menu-bar a{
   color: white;
   text-decoration: none;
   font-size: 16px;
   margin-right: 24px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.1em;
}
.menu-bar a:hover{
   text-decoration: underline;
}
.menu-login{
   display: flex;
   align-items: center;
   color: white;
}
.menu-login a{
   color: white;
   text-decoration: none;
   font-size: 16px;
   margin-right: 24px;
   font-family: 'Noto Serif TC', serif;
   letter-spacing: 0.1em;
}
.menu-login a:hover{
   text-decoration: underline;
}

footer{
   height: 180px;
   width: 100%;
   background-color: #576943;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .footer-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1200px;
   margin: auto;
}
.footer-logo{
   width: 86px;
   height: 36px;
}
.footer-logo img{
   width: 100%;
}
 .footer-bar{
   writing-mode: vertical-lr;
 }
 .footer-bar a{
    text-decoration: none;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 0.3em;
 }
 .copyright{
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #fff;
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    padding-bottom: 8px;
 }
